<!DOCTYPE html>
<html lang="en">

{{ template "head" . }}

<body id="content">

{{ template "navbar" . }}

<main>
    <div class="px-32 py-8">
        <div class="text-center py-16">
            <h1 class="text-5xl brand font-medium mb-2">The one cloud tool for companies, teams and developers.</h1>
            <p class="text-2xl">Manage all your cloud services in one platform. Deploy with ease.</p>
        </div>
    </div>
</main>

</body>

</html>
