<!DOCTYPE html>
<html lang="en">

{{ template "head" . }}

<body>

{{ template "navbar" . }}

<main>
    <div class="md:px-32 px-6 bg-white shadow-sm">
        <div class="pb-12 pt-4 max-w-4xl">
            <div class="py-2 px-6 text-xs bg-red-50 rounded-lg text-red-700 mb-8 inline-flex items-center">
                <div class="w-4 h-4 mr-2">
                    {{ template "alertTriangleIcon" }}
                </div>
                <div>This is an early-access version of the platform. Don't use it for production.</div>
            </div>
            <h1 class="md:text-5xl text-4xl brand font-medium pb-4 text-transparent bg-clip-text bg-gradient-to-r from-sky-500 via-rose-500 to-orange-500">
                Cloud manager for organizations, teams and developers.</h1>
            <p class="mb-8">Manage all your cloud services in one platform. Create, integrate and deploy with ease.</p>
            <button class="rounded-full text-gray-800 border p-2 px-4 text-sm font-medium">Learn more</button>
            <button class="rounded-full bg-gray-800 text-white p-2 px-4 text-sm font-medium ml-2">Start now</button>
        </div>
    </div>
    <div class="md:px-32 px-6 py-4 grid md:grid-cols-3 gap-4 grid-cols-1 lg:grid-cols-4 sm:grid-cols-2">
        <div class="bg-white p-8 rounded-lg shadow-sm text-center">
            <img src="https://static-00.iconduck.com/assets.00/google-cloud-icon-2048x1646-7admxejz.png"
                 class="h-12 mx-auto mb-4" alt="Bun applications logo">
            <p class="text-xl mb-2">Google Cloud</p>
            <p class="text-sm text-gray-500">Manage your existing GCP services via Packlify</p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-sm text-center">
            <img src="https://bun.sh/logo.svg" class="h-12 mx-auto mb-4" alt="Bun applications logo">
            <p class="text-xl mb-2">Bun</p>
            <p class="text-sm text-gray-500">Deploy Bun applications with ease in GCP or Packlify Cloud.</p>
        </div>
        {{/*        <div class="bg-white p-8 rounded-lg shadow text-center">*/}}
        {{/*            <p class="brand text-xl mb-2">Amazon Web Services</p>*/}}
        {{/*            <p class="text-sm text-gray-500">Manage your existing AWS services via Packlify</p>*/}}
        {{/*        </div>*/}}
        {{/*        <div class="bg-white p-8 rounded-lg shadow text-center">*/}}
        {{/*            <p class="brand text-xl mb-2">Packlify Analytics</p>*/}}
        {{/*            <p class="text-sm text-gray-500">Simplistic and performant real-time analytics platform with A/B testing.</p>*/}}
        {{/*        </div>*/}}
        {{/*        <div class="bg-white p-8 rounded-lg shadow text-center">*/}}
        {{/*            <p class="brand text-lg">Analytics</p>*/}}
        {{/*            <p class="text-sm text-gray-500">Simplistic and performant Analytics service.</p>*/}}
        {{/*        </div>*/}}
        {{/*        <div class="bg-white p-8 rounded-lg shadow">Web, Desktop & CLI</div>*/}}
        {{/*        <div class="bg-white p-8 rounded-lg shadow">Bun applications</div>*/}}
        {{/*        <div class="bg-white p-8 rounded-lg shadow">MMORPG Game Engine</div>*/}}
        {{/*        <div class="bg-white p-8 rounded-lg shadow">Gaming services</div>*/}}
    </div>
</main>

{{ template "footer". }}

</body>

</html>
