<!DOCTYPE html>
<html lang="en">

{{ template "head". }}

<body>

{{ template "navbar-logged-in". }}

<main class="px-32 py-8">
    <div class="flex items-center justify-between">
        <div>
            <h1 class="font-medium text-2xl">Your organizations</h1>
            <div class="text-sm text-gray-500 mb-4">This is a summary of your organizations.</div>
        </div>
        <a href="/dashboard/org/new" hx-get="/dashboard/org/new" hx-target="body" hx-push-url="true">
            <button class="rounded-lg bg-gray-800 text-white p-2 px-4 text-sm font-medium ml-2">Create new
                organization
            </button>
        </a>
    </div>

    {{ if .Organizations }}
        <div class="grid grid-cols-3 gap-2">
            {{ range .Organizations }}
                <div class="p-4 shadow rounded-lg bg-white">
                    <div>
                        {{/*                            <img src="{{ .Logo }}" alt="{{ .Name }}" class="w-16 h-16 rounded-full">*/}}
                    </div>
                    <h3 class="text-lg font-medium">{{ .Name }}</h3>
                </div>
            {{ end }}
        </div>
    {{ else }}
        <div class="bg-white rounded-lg shadow py-12 text-center">
            <h2 class="text-lg text-gray-400">You don't have any organizations yet.</h2>
        </div>
    {{ end }}
</main>

{{ template "footer". }}

</body>

</html>
