<!DOCTYPE html>
<html lang="en">

{{ template "head". }}

<body>

{{ template "navbar-logged-in". }}

<main class="px-32 py-8">
    <h1 class="font-medium text-2xl">Your projects</h1>
    <div class="text-sm text-gray-500 mb-4">This is a summary of your projects.</div>

    <div class="bg-white rounded-lg shadow py-12 text-center">
        <h2 class="mb-4 text-lg text-gray-400">You don't any projects yet.</h2>
        <button class="rounded-full bg-gray-800 text-white p-2 px-4 text-sm font-medium ml-2">Create new project
        </button>
    </div>
</main>

<footer class="py-8 text-center text-xs text-gray-500">
    © Packlify.com - Developed by Lucas Farias.
</footer>

</body>

</html>
