<!DOCTYPE html>
<html lang="en">

{{ template "head". }}

<body>

{{ template "navbar-logged-in". }}

<main class="px-32 py-8">
    Project name: {{ .Project.Name }}
</main>

{{ template "footer". }}

</body>

</html>
