<!DOCTYPE html>
<html lang="en">

{{ template "head". }}

<body>

{{ template "navbar-logged-in". }}

<main class="px-32 py-8">
    <div class="p-4 shadow rounded-lg bg-white flex items-center">
        <div class="mr-4 rounded-lg p-2">
            <img src="{{ .Project.ImageURL }}" alt="{{ .Project.Name }}" class="rounded-lg w-16 h-16 object-contain"/>
        </div>
        <div>
            <h2 class="text-lg font-medium leading-tight">{{ .Project.Name }}</h2>
            <div class="text-sm text-gray-500 text-xs">{{ .Project.ToolkitName }}</div>
            <div class="text-sm text-gray-500 mt-4">{{ .Project.OrgName }}</div>
        </div>
    </div>
</main>

{{ template "footer". }}

</body>

</html>
