<!DOCTYPE html>
<html lang="en">

{{ template "head". }}

<body>

{{ template "navbar-logged-in". }}

<main class="px-32 py-8">
    <h1 class="font-medium text-2xl">Your organization</h1>
    <div class="text-sm text-gray-500">This is a summary of your organization.</div>
</main>

<footer class="py-8 text-center text-xs text-gray-500">
    © Packlify.com - Developed by Lucas Farias.
</footer>

</body>

</html>
