{{ define "head" }}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .PageTitle }}</title>
    <link rel="stylesheet" href="/static/index.css"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="/static/htmx.min.js"></script>

    {{if .IsDev}}
    <script>
        const socket = new WebSocket('ws://localhost:8080/ws');

        socket.onmessage = function (event) {
            const message = event.data;
            console.log(message);
            fetch("{{.CurrentUrl}}").then(response => response.text()).then(data => {
                updateContent("a", data);
            });
        };

        function updateContent(templateID, newContent) {
            document.getElementById("content").innerHTML = newContent;
        }
    </script>
    {{ end }}
</head>

{{ end }}